body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    position: relative;
    flex-direction: column;
}

#startScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#startButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

canvas {
    border: 2px solid #000;
}

#panel {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #deb887;
    padding: 10px;
    border-radius: 5px;
}

#togglePanel {
    margin-bottom: 10px;
}

#panelContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: grab;
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
